{% include "layout.html" %} {% block content %}
<!--Loop through the django session and print the items in the cart-->
{% if cart %}
<div class="flex flex-wrap">
  {% for item in cart %}
  <div class="w-1/2 p-4">
    <div class="bg-gray-600 shadow-xl rounded-lg p-4">
      <div class="flex flex-wrap">
        <div class="w-1/2">
          <img
            src="{{ item.product.image.url }}"
            alt="{{ item.product.name }}"
            class="w-full"
          />
        </div>
        <div class="w-1/2 p-4">
          <h2 class="text-2xl font-bold text-gray-200">{{ item.product.name }}</h2>
          <p class="text-sm">{{ item.description }}</p>
          <p class="text-sm text-gray-200">
            <span class="font-bold">Price:</span> ${{ item.product.price }}
          </p>
          <p class="text-sm text-gray-200">
            <span class="font-bold">Quantity:</span> {{ item.quantity }}
          </p>
        </div>
        <div class="w-full">
          <a
            href="{% url 'remove_from_cart' item_id=item.product.id %}"
            class="
              bg-red-500
              hover:bg-red-700
              text-gray-200
              font-bold
              py-2
              px-4
              rounded-full
            "
          >
            Remove
          </a>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="p-4">
      <p class="text-center">Your cart is empty</p>
    </div>
    {% endif %}
  </div>

  {% endblock %}
</div>
